/* 
    Index of styles
    1. HTML editions 
        1.1 Margin of body
        1.2 Fonts of all page
        1.3 Material Icons 
    2. Colors Edition
        2.1 Colors Of Company
    3. Modification of forms
        3.1 contact form
        3.2 register form
    4. Modification Cards
        4.1 picture of products
    5. Modification footer
    6. Modifications of dashboard admin<----
        6.1 Edition of tabs indicators
    7. User profile modifications
    8. Notifications
    9. Scrollbar
*/

/* 1..1 Margin of body */
body{
    margin-right: 3%;
    margin-left: 3%;
}
/* 1.2 Fonts */
@font-face {
    font-family: "Caviar-Dreams";
    src: url("../font/CaviarDreams.ttf") ;
}
html {
    line-height: 1.5;
    font-family: "Caviar-Dreams", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

/* 1.3 Material Icons*/
.md-5{
    font-size: 25px !important;
}
.md-10{
    font-size: 50px !important;
}
.md-15{
    font-size: 100px !important;
}
p{
    font-size: 20px !important;
}
@font-face {
    font-family: "Caviar-Dreams-Bold";
    src: url("../font/CaviarDreams_Bold.ttf") ;
}
/* 2. Colors edition*/

/* 2.1 Colors of company*/
.red-sigpe{
    background-color: #EE3434 !important;
}
.black-transparent{
    background-color:rgba(0, 0, 0, 0.58) !important;
}
.black2-transparent {
    background-color:rgba(0, 0, 0, 0.82) !important;
}
/* 3. Modification of forms */
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #EE3434;
}
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #EE3434;
    box-shadow: 0 1px 0 0 #EE3434;
}
.input-field .prefix.active{
    color:#EE3434 !important;
}
.profile-user .input-field .prefix.active {
    color: #fff !important;
}
label:after, 
input[type=password]:focus.invalid + label:after, 
input[type=email].invalid + label:after, 
input[type=email]:focus.invalid + label:after, 
input[type=url].invalid + label:after, 
input[type=url]:focus.invalid + label:after, 
input[type=time].invalid + label:after, 
input[type=time]:focus.invalid + label:after, 
input[type=date].invalid + label:after, 
input[type=date]:focus.invalid + label:after, 
input[type=datetime-local].invalid + label:after, 
input[type=datetime-local]:focus.invalid + label:after, 
input[type=tel].invalid + label:after, 
input[type=tel]:focus.invalid + label:after, 
input[type=number].invalid + label:after, 
input[type=number]:focus.invalid + label:after, 
input[type=search].invalid + label:after, 
input[type=search]:focus.invalid + label:after, 
textarea.materialize-textarea.invalid + label:after, 
textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    width: 160px;
}
/* 3.1 contact form*/
.contact {
    background-color: #350000;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}
/* 3.2 register form*/
.image-background {
    background-color: #350000;
    background-image: url(../img/sections/paint1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
/* 4. Modification Cards*/
.card .card-image {
    height: 100%;
    overflow: hidden;
}
.card .card-image img {
    min-width: 100%;
    height: 300px;
}
.card-img-admin{
    min-width: 100% !important;
    height: auto !important;
}
.btn-price{
    position: absolute;
    margin: 10px;
}
.card-action-buttons{
    margin: -20px 10px -17px 0px;
    text-align: right;
}
ul.card-action-buttons li {
    display: inline-block;
    padding-left: 5px;
}
/* 4.1 Picture of products*/
#materialbox-overlay {
    background-color: rgba(0, 0, 0, 0.81);
}
/* 5. modification footer*/
footer.page-footer {
    margin-top: 0px;
}

/* 6. modifications of dashboard admin*/
.side-nav.inherit {
    position: inherit;
}
#menu li i {
    float: left;
}
.admin-details {
    background-image: url(https://lh4.googleusercontent.com/-c2kWlW-DE9A/VMSgQjCdffI/AAAAAAAADy4/tB__iZ25nxQ/w1080-h600/atardecer8.png);
    background-size: cover;
    margin-bottom: 0px;
    background-position: center center;
    padding: 15px 0px 0px 15px !important;
}
.admin-profile-image{
    height: 50px !important;
    width: 70px;
    overflow: hidden;
}
.card-profile-image {
    width: 200px;
    position: absolute;
    top: 110px;
    z-index: 1;
    margin-left:25%;
    margin-right:25%;
}
/* 6.1 Edition of tabs indicators*/
.indicator{
    background-color:#455a64 !important;
}
.tab a{
    color:#455a64 !important;
}
.tab-profile .tab a{
    background-color:#283593  !important;
    color: white !important;
}
.tab-profile .indicator{
    background-color: white !important;
}
/* 6.2 Card profile*/
.img-card-profile{
    min-width: inherit !important;
    height: inherit !important;
}
/* 7. User profile modifications*/
.user-profile-image{
    height: 30px !important;
    width: 30px;
    overflow: hidden;
}
.user-details {
    width: 210px;
    height: 64px;
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/83/d1/8d/83d18dd1b0f30ab343fc17bb123cc190.jpg);
    background-size: cover;
    margin-bottom: 0px;
    background-position: center center;
    padding: 0px 0px 0px 0px !important;
}
.profile{
    width: 200px !important;
}
/* 8. Notifiactions*/
.notification{
    width: 250px !important;
}
.not{
    width: 20px;
    height: 20px;
    border-radius: 30px 30px 30px 30px;
    background-color: #f00;
    padding: 1px 5px;
    color: #fff;
    font-size: 15px;
}  
.inactive{
    display: none;
}
.activate{
    display: initial;
}
/* 9. Scrollbar*/
::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-button{
    width:8px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background:transparent;
    border: transparent;
    -webkit-box-shadow: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.30) ;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.30);

    border: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30));
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}
::selection { 
          background:rgba(238, 52, 52, 0.58); 
          color:#fff; 
} 
::-webkit-selection { 
          background:rgba(238, 52, 52, 0.58); 
          color:#fff; 
}

::-moz-selection {
          background:rgba(238, 52, 52, 0.58);
          color:#fff;
}
